<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
</head>
<body>
  yey
<select id = "race-menu" name="select">
  <option value="House">house</option>
  <option value="Senate">senate</option>
  <option value="Governor">governor</option>
</select>
<button id = 'test'>test</button>
</body>
</html>


