<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
<!--   <link rel="stylesheet" href="style.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Tipping Point</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/why">Why</a></li>
            <li><a href="/myrep">My Rep</a></li>
            <li><a href="/nearby">Find Nearby Reps</a></li>
          </ul>
        </div>
      </div>
    </nav>
  <br />
  <br />
    <div class="container">
      <div class="row">
        <div class="col-lg-12" class="poll">
         <h1 class="page-header"> Representatives Near You
         </h1>
        </div>
      </div>
      <div class="row">

      <div class="col-md-8" id="target">
      </div>

      <div class="col-md-4">
    <!--     <a class="btn btn-primary" href="#">Get There<span class="glyphicon glyphicon-chevron-right"></span></a> -->
    </div>
    </div>
      </div>
      <select id = "race-menu" name="select">
        <option value="House">house</option>
        <option value="Senate">senate</option>
        <option value="Governor">governor</option>
      </select>
      <button id = "test">test</button>

</body>
</html>


